<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="fitness_center"></mat-icon>
    <span class="title" routerLink="/">GymPal</span>
    <span class="spacer"></span>
    <button 
        class="nav-btn" 
        mat-raised-button 
        color="primary" 
        routerLink="/login" 
        routerLinkActive="active"
    >Login</button>
    <button 
        class="nav-btn" 
        mat-raised-button 
        color="primary" 
        routerLink="/diet" 
        routerLinkActive="active"
    >Diet</button>
    <button 
        class="nav-btn" 
        mat-raised-button 
        color="primary" 
        routerLink="/trainings" 
        routerLinkActive="active"
    >Traning</button>
    <img class="avatar" src="{{ authService.userData?.photoURL || './assets/dummy.jpg' }}" [matMenuTriggerFor]="menu">
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="authService.signOut()">Log out</button>
    </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>